[Desktop Entry]
Version=1.0
Name=Hemis Core
Comment=Hemis P2P Cryptocurrency
Comment[fr]=Hemis, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hemis, eşten eşe kriptografik sanal para birimi
Exec=Hemis-qt %u
Terminal=false
Type=Application
Icon=Hemis128
MimeType=x-scheme-handler/Hemis;
Categories=Office;Finance;
StartupWMClass=Hemis-qt
