[Desktop Entry]
Version=1.0
Name=hemis Core
Comment=hemis P2P Cryptocurrency
Comment[fr]=hemis, monnaie virtuelle cryptographique pair à pair
Comment[tr]=hemis, eşten eşe kriptografik sanal para birimi
Exec=hemis-qt %u
Terminal=false
Type=Application
Icon=hemis128
MimeType=x-scheme-handler/hemis;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
