policy_module(Hemis, 1.100.1)

########################################
#
# Declarations
#

type Hemis_t;
type Hemis_exec_t;
init_daemon_domain(Hemis_t, Hemis_exec_t)

permissive Hemis_t;

type Hemis_initrc_exec_t;
init_script_file(Hemis_initrc_exec_t)

type Hemis_conf_t;
files_type(Hemis_conf_t)

type Hemis_var_lib_t;
files_type(Hemis_var_lib_t)

type Hemis_var_run_t;
files_type(Hemis_var_run_t)

type Hemis_port_t;
corenet_port(Hemis_port_t)

########################################
#
# Hemis local policy
#
allow Hemis_t self:process { fork };

allow Hemis_t self:fifo_file rw_fifo_file_perms;
allow Hemis_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(Hemis_t, Hemis_conf_t, Hemis_conf_t)
manage_files_pattern(Hemis_t, Hemis_conf_t, Hemis_conf_t)

manage_dirs_pattern(Hemis_t, Hemis_var_lib_t, Hemis_var_lib_t)
manage_files_pattern(Hemis_t, Hemis_var_lib_t, Hemis_var_lib_t)
files_var_lib_filetrans(Hemis_t, Hemis_var_lib_t, { dir file })

manage_dirs_pattern(Hemis_t, Hemis_var_run_t, Hemis_var_run_t)
manage_files_pattern(Hemis_t, Hemis_var_run_t, Hemis_var_run_t)

sysnet_dns_name_resolve(Hemis_t)
corenet_all_recvfrom_unlabeled(Hemis_t)

allow Hemis_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(Hemis_t)
corenet_tcp_sendrecv_generic_node(Hemis_t)
corenet_tcp_sendrecv_all_ports(Hemis_t)
corenet_tcp_bind_generic_node(Hemis_t)

gen_require(`
    type Hemis_port_t;
')
allow Hemis_t Hemis_port_t:tcp_socket name_bind;

gen_require(`
    type Hemis_port_t;
')
allow Hemis_t Hemis_port_t:tcp_socket name_connect;

domain_use_interactive_fds(Hemis_t)

files_read_etc_files(Hemis_t)

miscfiles_read_localization(Hemis_t)

sysnet_dns_name_resolve(Hemis_t)

allow Hemis_t Hemis_exec_t:file execute_no_trans;
allow Hemis_t self:process setsched;
corecmd_exec_ls(Hemis_t)
corenet_tcp_connect_http_port(Hemis_t)
dev_read_urand(Hemis_t)
fs_getattr_xattr_fs(Hemis_t)
kernel_read_system_state(Hemis_t)
