
## <summary>policy for hemis</summary>


########################################
## <summary>
##	Transition to hemis.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hemis_domtrans',`
	gen_require(`
		type hemis_t, hemis_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hemis_exec_t, hemis_t)
')


########################################
## <summary>
##	Execute hemis server in the hemis domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hemis_initrc_domtrans',`
	gen_require(`
		type hemis_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, hemis_initrc_exec_t)
')


########################################
## <summary>
##	Search hemis lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hemis_search_lib',`
	gen_require(`
		type hemis_var_lib_t;
	')

	allow $1 hemis_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read hemis lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hemis_read_lib_files',`
	gen_require(`
		type hemis_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, hemis_var_lib_t, hemis_var_lib_t)
')

########################################
## <summary>
##	Manage hemis lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hemis_manage_lib_files',`
	gen_require(`
		type hemis_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, hemis_var_lib_t, hemis_var_lib_t)
')

########################################
## <summary>
##	Manage hemis lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hemis_manage_lib_dirs',`
	gen_require(`
		type hemis_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, hemis_var_lib_t, hemis_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a hemis environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`hemis_admin',`
	gen_require(`
		type hemis_t;
		type hemis_initrc_exec_t;
		type hemis_var_lib_t;
	')

	allow $1 hemis_t:process { ptrace signal_perms };
	ps_process_pattern($1, hemis_t)

	hemis_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 hemis_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, hemis_var_lib_t)

')

