# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=hemis Core
Comment=hemis Core QT test network
GenericName=hemis Digital Currency QT client testnet network
Exec=hemis-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/hemis_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;hemis;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
