# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=hemis Core
Comment=hemis Core QT main network
GenericName=hemis Digital Currency QT client main network
Exec=hemis-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/hemis.png
MimeType=x-scheme-handler/hemis;
Categories=X-Office;X-Finance;
Keywords=internet;hemis;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
